.aktsii__title {
	padding: 0 10px;
	font-size: 26px;
	color: #303133;
	font-weight: 500;
	font-family: 'PT Sans';
}

.aktsii-list__container {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
}

.aktsii-list__item {
	padding: 32px 15px 0;
	width: 50%;
}

.aktsii-item {
	padding: 11px 11px 18px;
	background-color: #f5f5f5;
	box-shadow: 0 2px 6px 0 rgba(12, 13, 13, .23);
	border-radius: 6px;
}

.aktsii-item__img-wrap {
	position: relative;
	padding-top: 42%;
	overflow: hidden;
}

.aktsii-item__img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .4s;
	transition: .4s;
}

.aktsii-item__title {
	font-size: 20px;
	line-height: 1;
	font-weight: 400;
	color: #2c8dc4 !important;
	margin: 9px 0;
	padding: 3px 0;
	height: 46px;
	overflow: hidden;
	font: 400 20px/1 Calibri, sans-serif;
}

.aktsii-item__link {
	display: block;
}

.aktsii-item__img:hover {
	transform: scale(1.07);
}

.aktsii-item__date {
	font-size: 14px;
	line-height: 1;
	color: #333;
	position: relative;
	padding-left: 25px;
	padding-top: 2px;
	font: 400 14px/1 Calibri, sans-serif;
}

.aktsii-item__date:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 16px;
	height: 14px;
	background: url(../img/uncode-child/icon-date.png) no-repeat;
}

.aktsii-item__more {
	display: inline-block;
	vertical-align: top;
	margin-top: 16px;
	padding: 9px 22px;
	border-radius: 3px;
	font-size: 18px;
	line-height: 1;
	background: #146696;
	color: #fff;
}

.aktsii-item__more:hover {
	background: rgba(20, 102, 150, .9);
}

.aktsii__btn {
	margin-top: 36px;
	font-family: 'Open Sans', sans-serif;
	border-radius: 5px;
	letter-spacing: .1em;
	text-transform: uppercase;
	font-weight: 600;
	color: #fff;
	background-color: #146696;
	border: 1px solid;
	border-color: #146696;
	display: inline-block;
	font-size: 12px;
	padding: 13px 31px;
	cursor: pointer;
	text-align: center;
	margin-left: 15px;
}

.aktsii__btn:hover {
	color: #fff;
	background: #146696;
} 



.email_container {
	display: flex;
	background: #146696;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	margin-top: 36px;
	padding-top: 20px;
	padding-bottom: 15px;
}

.text_top_subscribe_container {
	color: #fff;
	padding: 0 10px;
}
.subscribe-top-item {
	margin: 0 5px;
}

.subscribe-top-item-wrap {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.subscribe-top-item input {
	width: 180px;
	cursor: pointer;
}

input.subscribe-top-item__control.subscribe-top-item__control--input-email {
	padding: 10px 20px;
	border-radius: 2px;
	height: 41px;
}

.subscribe-top-item__btn {
	background: #FDA729;
	border: 1px solid #fda729;
	color: #fff;
	text-transform: uppercase;
	border-radius: 2px;
	width: 300px;
	font-weight: 600;
	font-family: 'PT Sans';
}

input.subscribe-top-item__btn.subscribe-top-item__btn--btn-submit {
	margin-top: 0;
	height: 41px;
}



.aktsii .content-main-info__item h1 {
	text-align: center;
	color: #146696 !important;
	font-weight: 700;
	padding: 0 50px;
}

.aktsii .content-main-info {
	margin-top: 20px;
}

.aktsii .content-main-info__item {
	padding: 0;
}

.aktsii-article__dates {
	background-color: #fda729;
	color: #fff;
	text-align: center;
	font-size: 21px;
	font-weight: 600;
	padding: 6px;
	margin-top: 36px;
}

.aktsii-article__dates i, .aktsii-article__dates span {
	display: inline-block;
	vertical-align: middle;
}

.aktsii-article__dates i {
	width: 34px;
	height: 35px;
	margin-right: 6px;
	background: url('../img/uncode-child/i-aktsii-dates.png') 50% no-repeat;
}

.aktsii .email_container {
	margin-top: 0;
}

.aktsii-article__img {
	background-color: #ededed;
}

.aktsii-article__img img {
	margin: 0 auto;
	display: block;
}

.aktsii-article__text {
	color: #000;
	line-height: 1.45;
	font-size: 17px;
	padding: 18px 40px 0;
}

.aktsii-article__subtitle {
	font-size: 36px;
	font-weight: 600;
	text-align: center;
	color: #fda729;
	margin: 35px 40px 12px;
	line-height: 1.2;
}

.aktsii-article__list {
	list-style: none;
	margin: 0;
	background-color: #fda729;
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0 40px 25px;
	counter-reset: aktsii-list;
}

.aktsii-article__list li {
	min-height: 56px;
	position: relative;
	padding-left: 75px;
	margin-top: 25px;
	flex: none;
	width: 100%;
	max-width: 320px;
	color: inherit;
	line-height: 1.45;
	font-size: 17px;
}

.aktsii-article__list li::before {
	counter-increment: aktsii-list;
	content: counter(aktsii-list);
	position: absolute;
	top: 3px;
	left: 12px;
	width: 53px;
	height: 53px;
	line-height: 53px;
	border-radius: 50%;
	background-color: #fff;
	color: #fda729;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	font-size: 56px;
	font-weight: 700;
}

.aktsii-article__list li a {
	color: #fff;
	text-decoration: underline;
}

.aktsii-article__list li a:hover {
	color: #fff;
	text-decoration: none;
}

.articles_button {
	margin: 10px auto;
	border-radius: 6px;
	border: 1px solid #fda729;
	padding: 10px 20px;
	background: #fda729;
	margin: 10px auto;
	width: 250px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
}


.aktsii-article__box h3 {
	color: #028ab4;
	font-size: 30px;
	font-weight: 400;
	text-align: center;
	text-transform: none;
	padding: 0;
	margin: 0 40px 15px;
	line-height: 1.2;
	font-family: 'PT Sans';
}

.aktsii-article__box-inner {
	background-color: #5caceb;
	color: #fff;
	padding: 20px;
}

.aktsii-article__box-offers {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.aktsii-article__box-offers a {
	color: inherit;
	display: block;
	margin: 0 0 20px;
	flex: none;
	width: 250px;
	max-width: 100%;
	transition: opacity .2s;
	text-decoration: none;
	font-weight: 700;
}

.aktsii-article__box-offers a:hover {
	opacity: .75;
	color: #146696;
}

.aktsii-article__box-offers img {
	display: block;
	margin: auto auto 5px;
	border-radius: 50%;
	border: 1px solid #028ab4;
	width: 68px;
	height: 68px;
	object-fit: cover;
}

.aktsii-article__box-offers span {
	padding: 0 7px;
	display: block;
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
}

.aktsii-article__btn {
	text-align: center;
}

.aktsii-article__btn a {
	color: #fff;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	max-width: 195px;
	text-transform: uppercase;
	border: 1px solid currentColor;
	border-radius: 3px;
	font-size: 16px;
	font-weight: 600;
	line-height: 40px;
	white-space: nowrap;
	transition: .2s;
}

.aktsii-article__btn a:hover {
	color: #5caceb;
	background-color: #fff;
}

.aktsii-article__share {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: #fff;
	padding: 40px 20px 40px;
	max-width: 560px;
	margin: 0 auto;
}

.aktsii-article__share .articles_button {
	width: auto;
	margin: 0;
	margin-right: 10px;
}

.aktsii-article__share .articles_button:hover {
	color: #FDA729;
	background-color: #fff;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
}

.aktsii-article__share-title {
	font-size: 15px;
	margin: 0;
	line-height: 1.45;
	color: #000;
	padding-left: 5px;
}

.aktsii-article__share-links {
	margin: 0 auto;
}
