*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

::selection {
	background: #146696;
	color: #fff;
}

body {
	font-size: 14px;
	font-weight: 400;
	min-width: 320px;
	line-height: 1.65;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

input, textarea {
	border: #666 1px solid;
	outline: none;
}

b, strong {
	font-weight: bold;
}

a {
	display: block;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

p {
	margin: 0;
	padding: 0;
}

ul, li {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}

button {
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
	outline: none;
}

img { 
	max-width: 100%;
	height: auto;
	border: 0;
}

.wrapper { 
	overflow: hidden;
	min-height: 100%;
	background: url(../img/uncode-child/bg-lg-offer.jpg) 50% 0 no-repeat #028ab4;
	background-color: #028ab4;

}

select { 
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	-webkit-appearance: none;
	appearance: none;
	border-style: solid;
	border-color: transparent;
	-moz-appearance: none;
	text-overflow: "";
	outline: none;
	background-position: 100% center;
	background-repeat: no-repeat;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.container { 
	width: 1200px;
	margin: 0 auto;
	display: block;
}

.lazyloaded { 
	opacity: 1;
	transition: opacity .3s;
}

.plr {  
	padding: 0 15px;
	margin: 0 auto;
}

.mt18 { 
	margin-top: 18px;
}


/************************************ Шапка ************************************/

.header { 
	position: relative;
	z-index: 1000;
}

.header-body { 
	background-color: #fff;
	padding: 5px 0 20px;
}

.header-body__container { 
	padding-left: 20px;
	padding-right: 20px;
}

.header-body__row { 
	display: flex;
	align-items: center;
	margin-left: -15px;
	margin-right: -15px;
}

.header-body__row--top { 
	justify-content: space-between;
}

.header-body__col { 
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	max-width: 100%;
	min-width: 0;
}

.header-logo a, .header-logo img { 
	display: block;
}

.header-body__col--top-right { 
	flex-shrink: 0; 
	display: flex;
	align-items: center;
}

.header-body__search-btn { 
	margin-right: 15px;
	color: #146696;
}

.header-cab__btn { 
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 0 17px;
	line-height: 28px;
	color: #444;
	background-color: #ebebeb;
	border: 1px solid transparent;
	border-radius: 3px;
	transition: .2s;
}

.header-cab__btn:hover { 
	background-color: #ccc;
}

.header-cab__btn--outline { 
	color: #146696;
	border-color: #146696;
	background-color: #fff;
}

.header-cab__btn--outline:hover { 
	color: #fff;
	background-color: #146696;
}

.header-cab__btn+.header-cab__btn { 
	margin-left: 9px;
}

.header-body__menu-btn { 
	margin-left: 15px;
}

.header-menu-btn { 
	display: block;
	background: 0 0;
	padding: 0;
	margin: 0;
	border: 0;
	color: #b7b7b7;
	font-size: 30px;
	width: 1em;
	height: 1em;
	position: relative;
	touch-action: manipulation;
}

.header-menu-btn svg { 
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	max-width: 1em;
	max-height: 1em;
	margin: auto;
	fill: currentColor;
}

.header-menu-btn:not(.active) svg:nth-child(2), .header-menu-btn.active svg:nth-child(1) { 
	display: none;
}

.header-body__col--city { 
	flex-grow: 1;
	flex-shrink: 0;
}

.header-city { 
	margin-left: 40px;
	position: relative;
	z-index: 1;
	color: #146696;
}

.header-city>span { 
	font-size: 16px;
	border-bottom: 1px solid;
	cursor: pointer;
}

.header-city ul { 
	list-style: none;
	margin: 5px 0 0;
	padding: 10px;
	position: absolute;
	left: 0;
	top: 100%;
	width: 400px;
	max-width: calc(100vw - 20px);
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 1px 1px 6px rgba(0, 0, 0, .3);
	column-count: 3;
	column-gap: 10px;
	color: #000;
}

.header-city:not(.active) ul { 
	display: none;
}

.header-city li { 
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 14px;
	line-height: 1.35;
	margin-top: 0;
}

.header-city a { 
	display: block;
	padding: 3px 0;
	color: #146696;
	text-decoration: none;
}

.header-city a:hover { 
	text-decoration: underline;
}

.header-all-mfo { 
	display: block;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	line-height: 1;
	padding: 6px 12px;
	color: #fff;
	background-color: #fba828;
	border: 1px solid transparent;
	border-radius: 3px;
	transition: .2s;
}

.header-all-mfo:hover { 
	color: #fba828;
	border-color: #fba828;
	background-color: #fff;
}

.header-body__col--top-mfo { 
	flex-shrink: 0;
}

.top-10-mfo { 
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	font-size: 16px;
	font-weight: 700;
	color: #fda729;
	white-space: nowrap;
}

.top-10-mfo i { 
	width: 32px;
	height: 28px;
	background: url(../img/uncode-child/i-top-mfo.png) 50% no-repeat;
}

.top-10-mfo span { 
	margin-left: 3px;
}

.top-10-mfo i, .top-10-mfo span { 
	vertical-align: middle;
	display: inline-block;
}

.header-body__col--nav { 
	flex-shrink: 0;
}

.header-body-nav ul { 
	margin: 0 0 0 -30px;
	padding: 0;
	list-style: none;
	display: flex;
	color: #000;
}

.header-body-nav li { 
	margin-left: 30px;
	margin-top: 0;
	color: #000;
	font-size: 17px;
	line-height: 1.75;
}

.header-body-nav a { 
	display: block;
	font-size: 16px;
	color: #444;
}

.header-body-nav a:hover { 
	color: #146696;
}

.header-nav-section__container { 
	padding-left: 20px; 
	padding-right: 20px;
}

.header-nav-section__row { 
	margin: 0 -15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-nav-section__col { 
	padding: 0 15px;
}

.header-nav__link { 
	display: block;
	padding: 12px 0;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

.header-nav__link:not([href]) { 
	cursor: pointer;
	touch-action: manipulation;
}

.collapse:not(.show) { 
	display: none;
}

.header-nav__list-l2 { 
	list-style: none; 
	padding: 5px 0;
	margin: 0;
}

.header-nav__link-l2 { 
	display: block;
	padding: 5px 24px;
	font-size: 16px;
	line-height: normal;
	color: #fff;
}

.search__container { 
	position: relative;
}

.search__input { 
	width: 100%;
	margin: 0;
	height: 46px;
	font-size: 18px;
	line-height: 26px;
	padding: 10px 48px 10px 15px;
	border: 0;
}

.search__btn { 
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	border: 0;
	background: 0 0;
	padding: 0 11px;
	margin: 0;
}

.search__btn i { 
	display: block;
	background: url(../img/uncode-child/i-search.svg) 50% no-repeat;
	width: 26px;
	height: 26px;
}

.header-nav-section__col--navbar { 
	flex-shrink: 0;
}

.header-navbar { 
	color: #fff;
}

.header-navbar__row { 
	display: flex;
	align-items: center;
	margin-left: -20px;
}

.header-navbar__col { 
	flex-shrink: 0;
	margin-left: 20px;
}

.navbar-feedback { 
	color: inherit;
	display: block;
}

.navbar-feedback svg { 
	display: block;
	fill: currentColor;
}

.navbar-compare { 
	color: inherit;
	display: block;
	position: relative;
	padding-right: 11px;
}

.navbar-compare svg { 
	display: block;
	fill: currentColor;
}

.navbar-compare:before { 
	content: attr(data-counter);
	position: absolute;
	right: 0;
	top: 4px;
	min-width: 16px;
	height: 16px;
	line-height: 16px;
	font-size: 10px;
	font-weight: 700;
	text-align: center;
	background-color: #f8a926;
	border-radius: 50%;
}

.navbar-search { 
	display: block;
	position: relative;
	margin: -6px;
}

.navbar-search input { 
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 188px;
	height: 100%;
	margin: 0;
	padding: 0 38px 0 15px;
	border: 0;
	font-size: 16px;
	color: #fff;
	background-color: #fff;
	background-clip: padding-box;
	box-shadow: none;
	border-radius: 20px;
	transition: .3s;
	transform-origin: 100% 50%;
}

.navbar-search input:not(:focus) { 
	z-index: 1;
	opacity: 0;
	transform: scaleX(.2);
	cursor: pointer;
}

.navbar-search button { 
	display: block;
	background: 0 0;
	border: 0;
	margin: 0;
	padding: 6px;
	position: relative;
	transition: .3s;
	color: #fff;
	background-color: #fff;
}

.navbar-search svg { 
	display: block;
	fill: currentColor;
	height: 26px;
	width: 26px;
}

.navbar-phone { 
	display: block;
	color: inherit;
	font-size: 16px;
	font-weight: 700;
}

.navbar-phone svg { 
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	fill: currentColor;
}

.navbar-search { 
	display: block;
	position: relative;
	margin: -6px;
}

.navbar-search button { 
	display: block;
	background: 0 0;
	border: 0;
	margin: 0;
	padding: 6px;
	position: relative;
	transition: .3s;
}

.navbar-search svg { 
	display: block;
	fill: currentColor;
	height: 26px;
	width: 26px;
}

.header-overlay { 
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #2c8dc4;
}


/************************************ Конец шапки ************************************/



/* Main Title */

.main-title { 
	margin-bottom: 18px;
}

.main-title .title { 
	padding: 36px 16px;
	color: #fff;
	text-align: center;
	margin-top: 0;
	font-size: 36px;
	line-height: 43px;
	font-weight: 500;
	z-index: 1;
	position: relative;
	font-family: 'PT Sans';
}


.main-title .subtitle { 
	color: #fff;
	text-align: center;
	font-size: 24px;
	line-height: 1.45;
	font-weight: 400;
	margin-top: 0;
	font-family: 'Open Sans';
	z-index: 1;
	position: relative;
}

.main-title .descr { 
	color: #fff;
	line-height: 1.45;
	font-size: 17px;
	text-align: center;
	z-index: 1;
	position: relative;
	margin-top: 0;
	font-weight: normal;
}

.main-title__img { 
	display: none;
}




.mfo_card, .subscribe_item { 
	padding: 20px 0;
	border: 1px solid #ebebeb;
	border-radius: 6px;
	font-size: 14px;
	text-align: center;
	background: #fff;
	color: #000;
	transition: box-shadow, .5s;
}

.mfo_card_button { 
	border-radius: 4px;
	border: 1px solid #146696;
	padding: 10px 0;
	background: #146696;
	text-align: center;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
}

.mfo_card_button:hover { 
	background: rgba(20, 103, 151, .96);
}


/* Offers */

.mfo_card { 
	position: relative;
	padding-bottom: 0;
	margin: 0 35px 0 0;
	margin-bottom: 30px;
	width: 273px;
}

.mfo_achieve { 
	left: 50%;
	transform: translateX(-50%);
}

.mfo_achieve.promo-check, .mfo_achieve.promo { 
	height: 27px;
	width: 220px;
	position: absolute;
	top: 0;
}

.mfo_achieve.promo { 
	color: #fff; 
	background-color: #b40602;
	border-radius: 0 0 5px 5px;
	text-align: center;
	font-weight: 700;
	font-size: 15px;
	letter-spacing: 1px;
	box-shadow: 2px 2px #ccc;
	padding-top: 2px;
}

.mfo_card_company { 
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.mfo_card_company img { 
	height: 70px;
	max-width: 100%;
}

.mfo_card_compare {  
	text-align: center;
	padding: 5px 0 10px 30px;
	font-size: 16px;
}

.mfo_card_compare:before { 
	content: '';
	position: absolute;
	width: 23px;
	height: 23px;
	margin-left: -65px;
	background: url(../img/uncode-child/compare.png) center 0 no-repeat;
	background-size: 100%;
}

.mfo_card_compare a { 
	color: #fda729;
	font-weight: 600;
}

.mfo_card_compare a:active, .mfo_card_compare a:hover, .mfo_card_compare a:visited { 
	color: #fda729;
}

.mfo_card_info_accept, .mfo_card_info_approval, .mfo_card_info_link, .mfo_card_info_rate, .mfo_card_info_rating, .mfo_card_info_sum, .mfo_card_info_time, .mfo_card_info_ways { 
	display: flex;
	padding-top: 8px;
	padding-bottom: 8px;
	justify-content: space-between;
	border-bottom: 1px dotted #000;
	font-weight: 600;
	text-align: center;
}

.mfo_card_info_link { 
	padding: 10px;
	color: #146696;
}

.mfo_card_info_link a { 
	width: 100%;
	margin: auto;
	font-weight: 700;
	color: #146696;
	padding-bottom: 6px;
}

.promo-check {  
	background: url('../img/uncode-child/best_choice.png') 0 0;
}

.line_mfo { 
	margin: 0 auto;
}

.line_mfo>div { 
	float: left;
	position: relative;
}

.line_mfo .text_unit { 
	font-size: 11px;
	font-weight: 400;
	display: block;
}

.line_mfo .zaym_result { 
	color: #139747;
	margin-right: 5px;
	font-weight: 600;
}

.line_mfo .text_unit_small { 
	font-size: 12px;
	font-weight: 400;
	color: #000;
	font-family: 'Open Sans', sans-serif;
}

.line_mfo>div:first-child:after { 
	content: "+";
	position: absolute;
	right: -14px;
	color: #000;
	font-family: 'Open Sans', sans-serif;
}

.line_mfo>div:nth-child(2) { 
	width: 90px;
}

.line_mfo .text_unit { 
	font-size: 11px;
	font-weight: 400;
	display: block;
}

.line_mfo .zaym_com, .line_mfo .zaym_vipl { 
	color: #146696;
	margin-right: 5px;
}

.line_mfo>div:nth-child(2):after { 
	content: "=";
	position: absolute;
	right: 0;
}

.line_mfo>div:nth-child(3) { 
	padding-left: 10px;
	width: auto;
}


div.mfo_card_info { 
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
	background: #f8f8f8;
}

.mfo_card_info_accept_label, .mfo_card_info_approval_label, .mfo_card_info_rate_label, .mfo_card_info_rating_label, .mfo_card_info_sum_label, .mfo_card_info_time_label, .mfo_card_info_ways_label { 
	font-weight: 400;
}

.rating__stars { 
	min-width: 110px;
	max-width: 110px;
	height: 19.5px;
	background: url(../img/uncode-child/star.svg) top left/contain repeat-x;
}

.rating__stars:before { 
	float: left;
	width: inherit;
	height: 100%;
	background: url(../img/uncode-child/star--active.svg) top left/contain repeat-x;
	content: '';
	position: relative;
	left: 0.8px;
}

.rating__caption, .rating__stars, .rating__val { 
	display: inline-block;
	vertical-align: middle;
}


.mfo_card_info_rate_data, .mfo_card_info_sum_data, .mfo_card_info_time_data { 
	color: #444;
}

.mfo_card_info_accept_data, .mfo_card_info_rate_data, .mfo_card_info_sum_data, .mfo_card_info_time_data { 
	color: #444;
}

.mfo_card_info_ways { 
	border-bottom: none;
}

.subscribe_main { 
	border-radius: 6px;
	font-size: 14px;
	text-align: center;
	background: #fff;
	color: #000;
	transition: box-shadow, .5s;
	padding: 0;
	width: 275px;
	margin-right: 36px;
	border: none;
	margin-bottom: 35px;
}


.text_main_subscribe_container { 
	font-size: 20px;
	font-weight: 700;
	padding: 27px;
	text-transform: uppercase;
}

.subscribe_main .email_sidebar_container { 
	margin-top: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 20px 0;
	background-color: #146696;
	border-color: #146696;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.text_item_subscribe_container { 
	padding-top: 62px;
	padding-bottom: 54px;
	color: #fff;
}

.subscribe_main .text_item_subscribe_container { 
	flex: 1 0 470px;
	max-width: 100%;
	padding: 15px 10px;
}

.subscribe_main .subscribe-sidebar-item { 
	padding: 10px 8px 0;
	max-width: 100%;
	flex: 1 0 220px;
}

div.subscribe-sidebar-item.subscribe-sidebar-item--btn-submit { 
	margin-top: 10px;
	padding-top: 0;
	height: 46px;
	border: none;
	text-align: center;
}

input.subscribe-sidebar-item__btn.subscribe-sidebar-item__btn--btn-submit { 
	margin-top: 0;
	max-width: 220px;
	height: 41px;
	font-size: 14px;
	background: #146696;
	border-color: #146696;
	letter-spacing: normal;
	font-family: Open-sans, sans-serif;
	border-radius: 4px;
	cursor: pointer;
}

.subscribe_main .subscribe-sidebar-item input { 
	width: 100%;
	max-width: 100%;
	color: #fff;
}




/* Rating */

.ratings {
	margin-top: 36px;
	background-color: #f7f7f7;
	padding: 0 15px;
}

.ratings-wrap {
	max-width: 1200px;
	margin: 0 auto;
	padding: 36px 0px;
}

.ratings-form {
	margin: 15px 0 30px;
	width: auto;
	max-width: 100%;
	display: flex;
}

.ratings-item {
	margin: 0;
}

.ratings__description {
	margin-right: 10px;
}

.ratings-form .ratings-item .mr-star-rating-select {
	margin-right: 4px;
}

.mr-star-full, .mr-star-half, .mr-star-empty {
	color: gold;
}

.mr-star-rating-select i, .mr-star-rating-select span {
	cursor: pointer;
}

.save-rating {
	cursor: pointer;
	margin: 0 10px 0;
	padding: 5px 10px;
}

/** ScrollUp **/

a.scrollup-link {
	bottom: 60px;
}

a.scrollup-right {
	right: 7px;
}

.fa.fa-arrow-circle-up.fa-3x {
	position: absolute;
	left: -40px;
	top: -40px;
	color: #4792ca;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
}

.fa-arrow-circle-up:before {
	content: "\f0aa";
}




/* Footer*/

.vk {
	background-image: url(../img/uncode-child/i-vk.png);
}

.inst {
	background-image: url(../img/uncode-child/i-inst.png);
}

.yt {
	background-image: url(../img/uncode-child/i-yt.png);
}


.footer {
	background-color: #146696;
	color: #fff;
	font-size: 14px;
	padding: 24px 20px 40px;
	line-height: 16px;
}

.footer__row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

.footer__col {
	flex: 0 0 25%;
	max-width: 25%;
	padding: 16px 15px 0;
}

.footer__col:last-child {
	display: flex;
	flex-direction: column;
}

.footer a[href^=tel] {
	font-weight: 900;
	color: #fff;
}

.footer__menu li+li {
	margin-top: 8px;
}

.footer__menu a {
	text-decoration: underline;
	color: #fff;
}

.footer__menu a:hover {
	text-decoration: none;
}

.footer__social {
	list-style: none;
	margin: 16px 0 0;
	padding: 0;
	font-size: 0;
}

.footer__social li {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 16px;
}

.footer__social a {
	display: block;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-repeat: no-repeat;
}

.footer__social li+li {
	margin-left: 6px;
}

.footer__logo {
	margin-top: auto;
}

.footer__logo a {
	display: inline-block;
	vertical-align: top;
}

.footer__logo img {
	display: block;
	max-width: 100%;
}



/** Breadcrumbs ******************************/

.breadcrumbs__items { 
	display: flex;
	align-items: center;
	margin-top: 36px;
	flex-wrap: wrap;
	margin-left: 10px;
}

.breadcrumbs__items li { 
	position: relative;
	margin-right: 10px;
	padding: 0 10px;
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	font-family: 'Open Sans';
}

.breadcrumbs__items li:not(:last-child):hover { 
	text-decoration: underline;
}

.breadcrumbs__items li:not(:last-child)::after { 
	position: absolute;
	content: '';
	right: -5px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 0;
	width: 7px;
	height: 7px;
	border-top: 1px solid #262626;
	border-right: 1px solid #262626;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.breadcrumbs__items li a { 
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	font-family: 'Open Sans';
}

.white-breadcrumbs__items li:not(:last-child)::after { 
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
}

.content { 
	margin-top: 36px;
}

.content-row { 
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.content-box { 
	width: 72%;
}

.content-info { 
	margin-bottom: 36px;
	background-color: #fff;
	padding: 20px 0 20px;
	border-radius: 6px;
	position: relative;
}

.content-sidebar { 
	width: 26%;
}

.nav-tabs { 
	padding: 0 40px;
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin: 0 auto;
	border-bottom: 1px solid #eaeaea;
	text-align: center;
}

.nav-tabs>li { 
	display: inline-block;
	margin-top: 0;
	margin-bottom: -1px;
	cursor: pointer;
}

.nav-tabs>li>a { 
	font-weight: 300;
	color: #146696;
	font-size: 12px;
	font-family: 'PT Sans';
	letter-spacing: .1em;
	text-transform: uppercase;
	padding: 0 10px 18px;
	line-height: normal;
}

.add_to_compare span:before { 
	content: '';
	width: 16px;
	height: 16px;
	background-size: 100% !important;
	margin-left: -20px;
	position: absolute;
	background: url('../img/uncode-child/compair-ico.png');
}

.content-sidebar .mfo_card { 
	border: 1px solid #ebebeb;
	border-radius: 6px;
	font-size: 14px;
	background: #fff;
	color: #000;
	margin-top: 0;
}

.mfo_card__title { 
	font-weight: 600;
	font-size: 18px;
	color: #444;
	text-align: left;
	margin: 0 20px 15px;
}

.mfo_card__info { 
	padding: 0 20px 30px;
	font-size: 14px;
	line-height: 18px;
}

.content-sidebar .mfo_card__rating { 
	padding-bottom: 15px;
	border-bottom: 2px dotted #777;
}

.content-sidebar .rating { 
	color: #ffa800;
	margin-top: 0;
	display: flex;
	align-items: flex-end;
}

.content-sidebar .rating__stars { 
	min-width: 110px;
	max-width: 110px;
	height: 19px;
	background: url(../img/uncode-child/star.svg) top left/contain repeat-x;
}

.content-sidebar .rating__stars::before { 
	float: left;
	width: inherit;
	height: 100%;
	background: url(../img/uncode-child/star--active.svg) top left/contain repeat-x;
	left: 0;
	content: '';
}

.content-sidebar .mfo_card__rating .rating__val { 
	font-size: 24px;
	font-weight: 600;
	line-height: 1;
	vertical-align: bottom;
	margin-left: 8px;
}

.content-sidebar .mfo_card__rating .rating__vote { 
	line-height: 1;
	color: #333;
	display: inline-block;
	margin-left: 5px;
	position: relative;
	padding-left: 16px;
	font-weight: 400;
	font-size: 14px;
	vertical-align: bottom;
}

.content-sidebar .mfo_card__rating .rating__vote:before { 
	content: '';
	position: absolute;
	bottom: 2px;
	left: 0;
	width: 12px;
	height: 11px;
	background: url(../img/uncode-child/icon-vote.png) no-repeat;
}

.aside-rating { 
	margin: 15px 0 22px;
	border: 0;
	padding: 0;
}

.content-sidebar .aside-rating-col { 
	display: flex;
	align-content: center;
	justify-content: space-between;
	padding-top: 15px;
}

.content-sidebar .aside-rating-title { 
	font-weight: 400;
	font-size: 14px;
	vertical-align: bottom;
	padding: 0;
	border: 0;
	line-height: 18px;
	text-align: left;
}

.rating__val { 
	font-size: 20px;
	color: #146696;
	font-weight: 600;
	margin-left: 7px;
}

.content-sidebar .aside-rating .rating__stars { 
	min-width: 75px;
	max-width: 75px;
	height: 13px;
}


.mfo_card__text { 
	margin-bottom: 22px;
	text-align: left;
}

.aside-rating-mfo__rev { 
	color: #777;
	font-size: 12px;
	font-weight: 400;
	text-align: left;
}

.aside-rating-mfo-col { 
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 10px 0;
}

.aside-rating-mfo-col:hover { 
	background-color: #f5f5f5;
}

.aside-rating-mfo-item img { 
	width: 110px;
}

.aside-rating-mfo-item .rating-wraps { 
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.rating-wraps .aside-rating-mfo__rev { 
	margin-top: -10px;
}

.aside-subscribe-text { 
	line-height: 18px;
	padding-top: 45px;
	text-align: center;
	background: url(../img/uncode-child/subscribe.png) top center no-repeat;
}


.email_sidebar_container, .mfo_card .email_sidebar_container { 
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.mfo_card .email_sidebar_container { 
	background-color: #f5f5f5;
	margin-top: 12px;
	padding-bottom: 10px;
}

.subscribtion_form-second .aside-subscribe-text { 
	background-image: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

.subscribtion_form-second .email_sidebar_container { 
	background-color: #146696;
}

.subscribe-form-item--btn-submit .subscribe-sidebar-item--btn-submit .subscribe-top-item--btn-submit, .subscribe-sidebar-item--input-email { 
	padding-top: 10px;
}

input.subscribe-sidebar-item__control.subscribe-sidebar-item__control--input-email { 
	width: 220px;
	padding: 10px 20px;
	border-color: #a4a4a4;
	border-radius: 4px;
	background-color: #fff;
}

input.subscribe-sidebar-item__btn.subscribe-sidebar-item__btn--btn-submit { 
	margin-top: 0;
	max-width: 220px;
	height: 41px;
	font-size: 14px;
	background: #146696;
	border-color: #146696;
	letter-spacing: normal;
	font-family: 'Open-sans', sans-serif;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	color: #fff;
	text-transform: uppercase;
	width: 300px;
}

.mfo_card .aside-list { 
	list-style: none;
	margin: 0 0 10px;
	padding: 0;
}

.aside-list li { 
	font-size: 14px; 
	line-height: 18px;
	padding-bottom: 10px;
	text-align: left;
}

.aside-list li+li { 
	padding-top: 10px;
	border-top: 1px dashed #777;
}

.mfo_card .aside-list__title { 
	color: #146696;
}

.mfo_card .aside-list__title:hover { 
	text-decoration: underline;
}

.aside-list__date { 
	color: #777;
}

.btn-yellow { 
	display: inline-block;
	vertical-align: top;
	line-height: 40px;
	font-size: 14px;
	font-weight: 700;
	border-radius: 4px;
	white-space: nowrap;
	text-transform: uppercase;
	color: #fff;
	background: #fda729;
	padding: 0 12px;
	text-align: center;
}

.mfo_card .btn-yellow { 
	display: block;
}


.content-main-info { 
	display: flex;
	align-items: center;
	margin-top: 40px;
}

.content-main-info__item { 
	padding: 0 35px;
	flex: 0 1 auto;
}

.content-main-info__item_pad { 
	padding: 0 75px;
}



/** CreditPlus *******************/


.content-main-info__item h1 { 
	/* padding: 0 75px; */
	color: #000;
	text-align: left;
	font-weight: 500;
	font-size: 36px;
	line-height: 43px;
	font-family: 'PT Sans';
}





.content-main-info__button { 
	font-family: 'Open Sans', sans-serif;
	border-radius: 5px;
	font-weight: 600;
	letter-spacing: .1em;
	text-transform: uppercase;
	color: #fff;
	background-color: #146696;
	border-color: #146696;
	font-size: 15px;
	padding: 14px 40px;
	margin-top: 36px;
	display: inline-block;
	text-align: center;
}

.content-main-info__text { 
	margin-top: 18px;
	line-height: 24px;
	font-family: 'Open Sans';
	font-weight: 300;
	color: #111;
	line-height: 1.5;
	font-size: 17px;
}

.content-main-info__subtitle { 
	font-weight: 500;
	font-family: 'PT Sans';
	line-height: 1.2;
	margin: 27px 0 0;
	color: #028ab4;
	font-size: 26px;
	padding-left: 40px;
	padding-right: 10px;
}

.content-main-info__box { 
	padding: 0 20px 0 0px;
}

.content-main-info__list { 
	padding-left: 55px;
}

.content-main-info__list li { 
	list-style-type: decimal;
	font-size: 15px;
	font-family: 'Open Sans';
}

.content-main-info__list p { 
	line-height: 24px;
	font-family: 'Open Sans';
	font-weight: 300;
	color: #111;
	line-height: 1.5;
	font-size: 16px;
}

.content-main-info__img { 
	border-color: #f8f8f8;
	border-width: 8px;
	border-style: solid;
	margin-top: 10px;
	margin-bottom: 10px;
}




/** Пагинация ***********************/
.pagination { 
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 10px;
  flex-wrap: wrap;
}

.pagination:last-child {
	padding-bottom: 0;
}

.pagination li:not(:last-child) { 
	padding-right: 5px;
}

.pagination>li .current, .pagination>li .current:hover, .pagination>li .current:focus { 
	z-index: 2;
	background-color: #eee;
	color: #333;
	cursor: pointer;
	display: block;
	width: 36px;
	height: 36px;
	line-height: 36px;
	border-radius: 50%;
	text-align: center;
}

.pagination>li .page-numbers { 
	display: block;
	font-size: 17px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	border-radius: 50%;
	color: #146696;
	text-align: center;
}

.tabs-block {
  padding: 10px 35px 20px;
  background: #FFFFFF;
  border: 1px solid rgba(119, 119, 119, 0.1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  margin-top: 30px;
}

.tabs-block__columns {
  display: flex;
  justify-content: space-between;
}

.tabs-block__column {
  flex-basis: 47%;
}

.tabs-block__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 0;
  min-height: 45px;
  flex-basis: 46%;
}

.tabs-block__item:not(:last-child) {
  border-bottom: 1px solid rgba(119, 119, 119, 0.1);
}

.tabs-block__item-title {
  font-size: 14px;
  line-height: 19px;
  color: #777777;
  max-width: 270px;
  padding-right: 5px;
  font-family: 'Open Sans';
}

.tabs-block__item-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #30A9CF;
  font-family: 'Open Sans';
}

.tabs-block__controls {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabs-block-compare {
  display: flex;
  align-items: center;
}

.tabs-block-compare__link {
  padding-left: 35px;
  font-family: 'Open Sans';
  color: #fda729;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  position: relative;
}

.tabs-block-compare__link::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 30px;
  background: url('../img/uncode-child/compare.svg') center 0 no-repeat;
  background-size: 100%;
  transform: translateY(-50%);
}

.tabs-block-rules {
  position: relative;
  cursor: pointer;
  order: 1;
}

.tabs-block-rules:before,
.tabs-block-rules:after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 8px;
  height: 2px;
  content: "";
  background-color: #FDA729;
  transition: transform .5s ease;
}

.tabs-block-rules:before {
  transform: translate(-2px) rotate(45deg);
}

.tabs-block-rules--active:before {
  transform: translate(2px) rotate(45deg);
}

.tabs-block-rules:after {
  transform: translate(2px) rotate(-45deg);
}

.tabs-block-rules--active:after {
  transform: translate(-2px) rotate(-45deg);
}

.tabs-block-rules__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  font-family: 'Open Sans';
  color: #FDA729;
  margin-right: 20px;
  position: relative;
}

.tabs-block-button {
  order: 2;
  background: #fda729;
  border-radius: 3px;
  border: none;
  padding: 12px;
  color: #fff;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  min-width: 200px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.tabs-block__open {
  display: none;
  margin-top: 20px;
}
