.offer-logo {
	width: 165px;
	margin: 20px 0 0 10px;
}

.offer-row-col {
	font-size: 18px;
	font-weight: 700;
	color: #146696;
	clear: both;
	text-align: center;
	line-height: normal;
}

.offer-col {
	font-size: 28px;
	font-weight: 700;
	color: #30a9cf;
	line-height: normal;
}

.mfo_card_info_col {
	padding-right: 20px;
	padding-left: 20px;
	background: #f8f8f8;
}

.mfo-head-logo {
	margin: 30px 0 15px;
	text-align: center;
}

.mfo-head-logo img {
	max-width: 240px;
	width: 240px;
}

.mfo-head-approv {
	font-size: 22px;
	margin-top: 0;
	text-align: center;
	color: #777;
}

.mfo-head-approv-value {
	color: #fda729;
	font-weight: 700;
}

.creditplus .offer-row-col {
	font-size: 14px;
	color: #757777;
}

.creditplus .content-main-info__item {
	padding-bottom: 35px;
	flex: 0 1 50%;
}

.mfo-head__rating, .mfo-head__text {
	text-align: left;
}

.mfo-head__rating {
	margin-top: 10px;
}

.mfo-head__rating .rating {
	color: #ffa800;
	margin-top: 0;
}


.creditplus-login .content-main-info,
.creditplus-reviews .content-main-info {
	padding-bottom: 10px;
}



.creditplus-reviews .content-main-info__button {
	background: #fda729;
	padding: 10px 20px;
}

.creditplus-reviews .content-reviews {
	padding: 0;
}

.creditplus-reviews .content-reviews-rating .rating {
	margin-top: 0;
}




.mfo-head__text {
	font-size: 16px;
	line-height: 18px;
	margin-top: 17px;
}

.mfo-head__text a {
	color: #04a1dc;
	display: inline-block;
}



.akciya-container {
	display: flex;
	align-items: center;
	background: #fdb449;
	margin-top: 30px;
}

.akciya-container-item {
	width: 50%;
	padding: 18px 36px;
	display: flex;
	flex-direction: column;
}

.akciya-container .akciya-caption {
	color: #fff;
	font-size: 35px;
	line-height: 1.2;
	font-weight: 900;
}

.akciya-container .akciya-text {
	color: #000;
	font-size: 25px;
	font-weight: 700;
	line-height: normal;
}

.akciya-container .akciya-date-wrap {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	padding-left: 50px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.akciya-container .akciya-date {
	width: 130px;
	margin-left: 60px; 
	text-align: left;
	line-height: normal;
}

.akciya-date:before {
	content: "";
	position: absolute;
	margin: 5px 0 0 -55px;
	width: 45px;
	height: 46px;
	background: url(../img/uncode-child/dates-icon.png);
	background-size: 100%;
}

.akciya-container .akciya-btn, .mfo-card-btn {
	width: 180px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
}

.akciya-container .akciya-btn {
	background: #fff;
	border-radius: 4px;
	border: 1px solid #fda729;
	padding: 8px 0;
	color: #fdb449;
	font-weight: 600;
	float: right;
	font-size: 16px;
	margin-top: 20px;
}



.mfo-about {
	background-color: #fff;
	padding: 40px 40px 0;
}

.mfo-about-title {
	font-size: 30px;
	line-height: 1;
	color: #028ab4;
	text-align: center;
	font-weight: 500;
	font-family: 'PT Sans';
}

.mfo-about-text {
	font-size: 16px;
	font-weight: 300;
	color: #111;
	line-height: 1.5;
	margin: 15px 0 0;
}


.mfo-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #e0e3e3;
	padding-left: 50px;
}

.mfo-show-rule {
	color: #028ab4;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	padding: 11px;
}

.mfo-show-rule:hover {
	color: #146696;
}

.mfo-card-btn {
	background: #fda729;
	border-radius: 4px;
	border: 1px solid #fda729;
	padding: 8px 0;
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	margin: 1px;
}

.content-text {
	padding: 0 40px;
	margin-top: 10px;
}

.content-text-title {
	color: #028ab4;
	font-size: 30px;
	line-height: 1;
	font-family: 'PT Sans';
	margin-bottom: 15px;
	font-weight: 500;
	margin-top: 30px;
}

.content-text-list li {
	font-size: 16px;
	font-weight: 300;
	color: #111;
	position: relative;
	padding-left: 15px;
}

.content-text-list li:before {
	position: absolute;
	content: '';
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #2c8dc4;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

.content-text-descr {
	font-size: 14px;
	font-weight: 300;
	color: #111;
}

.mfo-money-btn, .mfo-money-btn a {
	border-radius: 4px;
	border: 1px solid #fda729;
	padding: 10px 20px;
	color: #fff;
	font-weight: 600;
}

.mfo-money-btn, .mfo-money-btn a {
	background: #fda729;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
}

.content-text-button {
	display: inline-block;
	margin-top: 25px;
	margin-bottom: 10px;
}




.article-contacts {
	color: #000;
}

.article-contacts__inner {
	padding: 0 65px;
}

.article-contacts__form {
	margin-top: 40px;
}


.feedback-form__title {
	font-size: 24px;
	line-height: 1;
	text-align: center;
}

.feedback-form__fields {
	margin-left: -30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.feedback-form__group--sm {
	width: 50%;
	max-width: 367px;
}

.feedback-form__group {
	margin-top: 30px;
	padding-left: 30px;
	width: 100%;
	text-align: center;
}

.feedback-form input, .feedback-form select {
	height: 48px;
	line-height: 46px;
}

.feedback-form input, .feedback-form textarea, .feedback-form select {
	box-shadow: none;
	font-size: 18px;
	margin: 0;
	padding: 0 14px;
	border: 1px solid #028ab4;
	background-clip: padding-box;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #f7f7f7;
}

.feedback-form select, .feedback-form textarea {
	background-color: #fff;
}

.feedback-form__group .control-check-muted {
	text-align: right;
	margin-top: 10px;
}

.feedback-form__group .control-check-muted input {
	vertical-align: middle;
	margin-right: 6px;
	padding: 0;
	width: 20px;
	height: 20px;
}

.feedback-form__group .control-check-muted span {
	display: inline-block;
	vertical-align: middle;
}

.feedback-form textarea {
	height: 140px;
	line-height: 1.3;
	padding-top: 11px;
	padding-bottom: 11px;
	overflow: auto;
	resize: none;
}


.feedback-form__group--submit input {
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	white-space: nowrap;
	text-transform: uppercase;
	color: #fff;
	background-color: #fda729;
	border: 1px solid #fda729;
	border-radius: 4px;
	width: 198px;
	max-width: 100%;
	transition: .2s;
	cursor: pointer;
}

.feedback-form__group--submit input:hover {
	color: #fda729;
	background-color: #fff;
	border-color: #fda729;
}

.i_agree {
	color: #777;
}

.i_agree-link {
	color: #303133;
	display: inline-block;
}

.i_agree-link:hover {
	color: #146696;
}

.application_results, .application_results_processing, .application_results_success {
	margin-top: 0;
	margin-left: 36px;
	margin-right: 36px;
	display: none;
}

.credit-results-success {
	color: #000;
}

.credit-results-success__head {
	font-size: 36px;
	font-weight: 300;
	text-align: center;
}

.credit-results-success__text {
	font-size: 24px;
	margin-top: 15px;
	text-align: center;
}




.contactdetails {
	display: flex;
}

.contactdetails-item {
	width: 50%;
	padding: 0 40px 20px;
}

.contactdetails-title {
	padding: 0;
	margin-top: 25px;
	color: #2c8dc4;
	font-size: 18px;
	line-height: 1;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}

.contactdetails-list {
	margin: 15px 0 0;
	list-style: none;
}

.contactdetails-list li {
	font-size: 14px;
	font-weight: 300;
	color: #111;
	line-height: 1.5;
	position: relative;
	padding-left: 15px;
	margin: 5px 0 0;
}

.contactdetails-list li:before {
	position: absolute;
	content: '';
	top: 10px;
	left: 0;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #2c8dc4;
}

.contact-site, .details-weight {
	font-weight: 600;
	color: #777;
}

.details-requisites {
	background: #eff1f1;
}

.details-contact {
	background: #f8fafa;
}

.contact-wrap {
	padding-top: 15px;
}

.contact-email, .contact-phone {
	font-size: 15px;
	font-weight: 600;
	color: #777;
}

.contact-email-field, .contact-phone-field {
	font-weight: 300;
	color: #777;
}

.contact-site {
	font-size: 15px;
	padding: 20px 0 0 0;
}

.contact-site-link {
	display: inline-block;
	color: #303133;
}

.contact-site-link:hover {
	color: #146696;
}






.mfo-offer-recom-title {
	font-size: 35px;
	color: #000;
	font-weight: 500;
	padding-left: 35px;
	margin-top: 50px;
}

.mfo-offer-recom-container {
	background: #eff1f1;
	z-index: 2;
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-top: 20px;
	padding-top: 10px;
}

.mfo-offer-recom-container .offer-logo {
	margin: 0 0 0 10px;
}

.mfo-offer-recom-row {
	padding: 0 0 10px;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.offers-card-btn {
	width: 180px;
	background: #fda729;
	border-radius: 4px;
	border: 1px solid #fda729;
	padding: 8px 0;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
}

.offer-card-wrap {
	display: flex;
	align-items: center;
	height: 100%;
}

.firstloan {
	background: #eff1f1;
	z-index: 2;
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding-top: 10px;
}

.firstloan-col {
	padding: 0 0 10px;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}



.mfo-about__video {
	padding: 30px 20px;
	padding-bottom: 10px;
	border: none;
}

.mfo-about__video-title {
	margin-top: 25px;
	color: #2c8dc4;
	font-size: 18px;
	line-height: 1;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 25px;
}




.content-reviews {
	padding: 36px;
	border-radius: 6px;
	background-color: #fff;
	margin-bottom: 36px;
}

.content-reviews-title {
	padding: 0 20px;
	font-weight: 500;
	font-family: 'PT Sans';
	line-height: 1.2;
	font-size: 26px;
	color: #028ab4;
}

.content-reviews-item {
	border-top: 2px dotted;
	margin-top: 35px;
}

.content-reviews-item .rr_review_name,
.content-reviews-item .rr_date {
	font-size: 14px;
	font-weight: 600;
	font-style: normal;
	line-height: 1;
	display: inline-block;
	padding: 0;
	margin: 0;
	width: auto;
	margin-top: 25px;
	padding-right: 10%;
}


.content-reviews-rating {
	margin: 15px 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.rating__caption {
	font-size: 14px;
	font-weight: 300;
	color: #000;
	margin-right: 6px;
}

.content-reviews-rating .rating__stars--sm,
.content-reviews-rating .rating__stars--sm:before {
	background-size: 11px 10px;
}

.content-reviews-rating .rating__stars--sm {
	min-width: 56px;
	max-width: 56px;
	height: 10px;
	background: url(../img/uncode-child/star.svg) top left/contain repeat-x;
}

.content-reviews-rating .rating__val {
	font-weight: 700;
	font-size: 14px;
	padding-left: 0;
}

.content-reviews-text {
	font-size: 16px;
	color: #000;
	font-weight: 300;
	line-height: 18px;
	font-family: 'Open Sans';
}

.content-reviews-plus {
	margin-top: 16px;
}

.content-reviews-minus {
	margin-top: 9px;
	margin-bottom: 25px;
}

.content-reviews-minus, .content-reviews-plus {
	font-size: 14px;
	line-height: 18px;
	font-weight: 300;
	color: #000;
}

.content-reviews-minus span:first-child, .content-reviews-plus span:first-child {
	float: left;
	padding-left: 30px;
	position: relative;
	width: 100px;
	font-weight: 600;
}

.content-reviews-btn {
	border-radius: 5px;
	color: #fff;
	background-color: #146696;
	border-color: #146696;
	font-weight: 600;
	letter-spacing: .1em;
	text-transform: uppercase;
	display: inline-block;
	font-size: 12px;
	padding: 13px 31px;
	font-style: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

.content-reviews-plus span:first-child {
	color: #028ab4;
}

.content-reviews-minus span:first-child {
	color: #ee0202;
}

.content-reviews-minus span:first-child:before, .content-reviews-plus span:first-child:before {
	content: '';
	position: absolute;
	top: -1px;
	left: 0;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid;
}

.content-reviews-plus span:first-child:after {
	content: '+';
	top: -1px;
	left: 5px;
}

.content-reviews-minus span:first-child:after {
	content: '\2013';
	top: -2px;
	left: 6px;
}

.content-reviews-minus span:first-child:after, .content-reviews-plus span:first-child:after {
	font-size: 18px;
	line-height: 1;
	font-weight: 700;
	color: inherit;
	position: absolute;
}


.review-form .content-reviews-rating {
	margin-top: 5px;
}

.review-form {
	margin-bottom: 38px;
	border-top: 2px dotted;
}

.review-form__stars {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.review-form .rating {
	display: table-cell;
	color: #000;
	font-size: 14px;
	font-weight: 300;
}

.review-form__select {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	left: 10px;
	top: 2px;
}

.rr_star, .stars {
	color: #ffa800;
}

.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.glyphicon-star-empty:before {
	content: "\e007";
}

.rating-row {
	display: flex;
	align-items: center;
}

.rr_stars_container {
	margin-left: 10px;
}

.review-form__textarea-wrap {
	margin-top: 17px;
	display: flex;
	flex-direction: column;
}

.review-form__textarea-wrap .textarea-review {
	height: 130px;
	border-color: #aeaeae;
}

.form-err {
	color: red;
	font-style: italic;
	font-size: .8em;
	line-height: .6em;
}

.review-form__textarea-wrap textarea {
	border-radius: 5px;
	padding: 15px 20px;
	height: 80px;
	font-size: 18px;
	background-color: #fff;
	width: 100%;
	resize: none;
	margin: 9px 0 0;
	font-weight: 400;
	display: block;
	font-family: 'Open Sans';
}

.review-form__textarea-wrap textarea, .review-form__textarea-wrap textarea:focus {
	border-color: inherit;
}

.textarea-plus::placeholder {
	color: #028ab4;
}

.review-form__textarea-wrap .textarea-plus {
	color: #028ab4;
	border: 1px solid #028ab4;
}

.textarea-minus::placeholder {
	color: #b40602;
}

.review-form__textarea-wrap .textarea-minus {
	color: #b40602;
	border: 1px solid #b40602;
}

.review-form__bottom {
	margin-top: 20px;
	display: flex;
	width: 100%;
}

.review-form__input {
	width: 50%;
}

.review-form__bottom>div+div {
	padding-left: 9px;
}

.review-form__input input {
	display: block;
	width: 100%;
	font-size: 18px;
	line-height: 40px;
	padding: 0 20px;
	color: #777;
	border-radius: 5px;
	border-color: #aeaeae;
	height: 42px;
}

.review-form__btn button {
	display: block;
	border-radius: 4px;
	letter-spacing: normal;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1;
	font-weight: 600;
	text-transform: uppercase;
	outline: none;
	white-space: nowrap;
	box-shadow: none;
	cursor: pointer;
	color: #fff;
	text-align: center;
	background-color: #146696;
	border-color: #146696;
	padding: 13px 31px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	width: 100%;
}





/** MFO ************************************************/
.info-subtitle {
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	color: #028ab4;
}

.bank-maps {
	margin: 38px auto 0;
	max-width: 100%;
	padding: 0 23px;
	width: 100%;
}

.mfo-content-box .rating__val {
	color: #ffa800;
}

.mfo-content-box .mfo-head-logo img {
	width: 170px;
}

.mfo-content-box .content-main-info__item h1 {
	font-size: 32px;
	line-height: 41px;
	font-family: 'Open Sans', sans-serif;
}

.mfo-content-box .mfo-head__text {
	font-size: 18px;
	color: #999a9a;
}

.mfo-content-box .mfo-about-title {
	text-align: left;
}

.mfo-content-box .content-main-info__item {
	flex: 1 0 50%;
}

.mfo-about__logos .mfo-about__logos-link {
	display: inline-block;
	margin-right: 30px;
	margin-bottom: 10px;
}

.mfo-about__logos .mfo-about__logos-link img {
	max-width: 115px;
}


.mfo-about__logos {
	margin-top: 65px;
	margin-bottom: 30px;
}

.mfo-license {
	padding: 40px 40px 0;
	margin-bottom: 15px;
}

.mfo-license__block {
	display: flex;
	align-items: center;
	max-width: 700px;
	justify-content: space-between;
}

.mfo-license__text {
	display: flex;
	justify-content: space-between;
}

.mfo-license__col {
	margin-top: 15px;
}

.mfo-license__col-left {
	width: 58%;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 18px;
	color: #898888;
}

.mfo-license__col-right {
	width: 37%;
	font-size: 16px;
}

.mfo-report {
	padding: 40px 40px 0;
}

.mfo-report__block {
	display: flex;
	align-items: flex-start;
	margin-top: 15px;
}

.mfo-report__col {
	display: flex;
	align-items: flex-end;
}

.mfo-report__col:not(:last-child) {
	margin-right: 15px;
}

.mfo-report__year {
	font-size: 16px;
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	margin-left: 10px;
}


.mfo-about__feature-images {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.mfo-about__feature-images-box {
	display: flex;
	align-items: center;
	width: 310px;
}

.mfo-about__feature-images-box:not(:last-child) {
	margin-bottom: 10px;
}

.mfo-about__feature-image {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	margin-right: 15px;
}

.mfo-about__feature-images img {
	width: 45px;
}

.mfo-about__feature-text {
	width: 80%;
	padding-right: 10px;
	font-size: 16px;
	line-height: 17px;
}

.mfo-signs {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	background-color: #e8faff;
	padding: 30px 40px;
	margin-top: 50px;
}

.mfo-signs__image {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	background-color: #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border: 3px solid #0289b4;
	margin-right: 15px;
}

.mfo-signs__image img {
	width: 30px;
}

.mfo-signs__text {
	width: 80%;
	padding-right: 10px;
	font-size: 16px;
	line-height: 17px;
}

.mfo-signs__box {
	display: flex;
	align-items: center;
	width: 310px;
}

.mfo-signs__box:not(:last-child) {
	margin-bottom: 10px;
}

.mfo-money {
	text-align: center;
}

.mfo-socials {
	padding: 40px 40px 0;
}

.mfo-socials-link {
	text-decoration: underline;
	color: #0289b4;
}

.mfo-socials-link:hover {
	text-decoration: underline;
}

.mfo-socials__block {
	margin-top: 30px;
	display: flex;
}

.mfo-socials__link img {
	width: 40px;
}

.mfo-socials__link:not(:last-child) {
	margin-right: 10px;
}

.mfo-feedback {
	padding: 40px 40px 0;
}

.mfo-feedback-link {
	text-decoration: underline;
	color: #0289b4;
}

.mfo-feedback-link:hover {
	text-decoration: underline;
}

.mt35 {
	margin-top: 35px;
}

.content-main-info__list-disc {
	padding-left: 55px;
	margin: 18px 0 0;
}

.content-main-info__list-disc li {
	list-style-type: disc;
	font-size: 15px;
	font-family: 'Open Sans';
}

.content-main-info__list-disc p {
	font-family: 'Open Sans';
	font-weight: 300;
	color: #111;
	line-height: 1.5;
	font-size: 16px;
}

.mfo-about__table {
	display: flex;
	margin-top: 20px;
}

.mfo-about__table .mfo-about__columns {
	width: 100%;
}

.mfo-about__table .mfo-about__col {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
	padding: 5px 0 15px;
}

.mfo-about__table .mfo-about__col:not(:first-child) {
	border-top: 2px dotted #898888;
}

.mfo-about__table .mfo-about__col-left,
.mfo-about__table .mfo-about__col-right {
	width: 47%;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 18px;
}

.mfo-about__table .mfo-about__col-left {
	color: #898888;
	padding: 0 10px 0 0;
	display: flex;
	align-items: flex-start;
}

.mfo-about__table .mfo-about__col-right {
	color: #000;
	display: flex;
	align-items: center;
	padding: 0;
}

.mfo-about__table .mfo-about__col-right-link {
	text-decoration: underline;
	color: #028ab4;
}

.blocks-content-text .content-text-items {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.blocks-content-text .content-text-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	margin-top: 55px;
}

.blocks-content-text .content-text-item {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	border: 3px solid #028ab4;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	padding: 10px 7px;
	max-width: 145px;
	min-width: 145px;
	width: 100%;
	min-height: 130px;
	box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.3);
	margin: 0 20px 15px 0;
}

.blocks-content-text .content-text-item span {
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 14px;
	text-align: center;
	margin-top: 5px;
}

.blocks-content-text .content-text-item-img {
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.blocks-content-text .content-text-item img {
	width: 50px;
}

.mfo-clients {
	padding: 20px 40px;
}

.mfo-clients-column {
	display: flex;
	padding: 30px 0;
}

.mfo-clients-column:not(:last-child) {
	border-bottom: 1px dashed #898888;
}

.mfo-clients-column__col:first-child {
	margin-right: 15px;
	width: 35%;
}

.mfo-clients-column__title {
	color: #898888;
	font-size: 16px;
	line-height: 18px;
}

.mfo-clients-column__link {
	color: #028ab4;
	text-decoration: underline;
}

.mfo-clients-column__social {
	display: flex;
	align-items: flex-start;
}

.mfo-clients__file {
	display: flex;
}

.mfo-clients__file-link {
	margin-right: 15px;
}

.mfo-clients-column-social__list {
	width: 250px;
}

.mfo-clients-column-social__list-item {
	padding-right: 10px;
}

.mfo-clients-column-social__list-item:not(:last-child) {
	margin-bottom: 15px;
}

.mfo-clients-column-social__list-link {
	display: flex;
	align-items: center;
}

.mfo-clients-column-social__list-icon {
	width: 40px;
	margin-right: 15px;
}

.mfo-clients-column-social__list-text {
	color: #028ab4;
	font-size: 16px;
	line-height: 18px;
	text-decoration: underline;
}

.mfo-clients-column-social__list-link:hover .mfo-clients-column-social__list-text {
	text-decoration: none;
}