.mfo_card {
	padding: 20px 0;
	border: 1px solid #ebebeb;
	border-radius: 6px;
	font-size: 14px;
	text-align: center;
	background: #fff;
	color: #000;
	transition: box-shadow, .5s;
}

.offers {
	margin-top: 30px;
}

.offers__items {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-right: -35px;
}

.mfo_card {
	position: relative;
	padding-bottom: 0;
	margin: 0 35px 0 0;
	margin-bottom: 30px;
	width: 273px;
}

.mfo_achieve {
	left: 50%;
	transform: translateX(-50%);
}

.mfo_achieve.promo-check, .mfo_achieve.promo {
	height: 27px;
	width: 220px;
	position: absolute;
	top: 0;
}

.mfo_achieve.promo {
	color: #fff;
	background-color: #b40602;
	border-radius: 0 0 5px 5px;
	text-align: center;
	font-weight: 700;
	font-size: 15px;
	letter-spacing: 1px;
	box-shadow: 2px 2px #ccc;
	padding-top: 2px;
}

.mfo_card_company {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.mfo_card_company img {
	height: 70px;
	max-width: 100%;
}

.promo-check {
	background: url('../img/uncode-child/best_choice.png') 0 0;
}

.rating__stars {
	min-width: 110px;
	max-width: 110px;
	height: 19.5px;
	background: url(../img/uncode-child/star.svg) top left/contain repeat-x;
}

.rating__stars:before {
	float: left;
	width: inherit;
	height: 100%;
	background: url(../img/uncode-child/star--active.svg) top left/contain repeat-x;
	content: '';
	position: relative;
	left: 0.8px;
}

.rating__caption, .rating__stars, .rating__val {
	display: inline-block;
	vertical-align: middle;
}



.not-found .main-title .title {
	color: #000000;
	padding-bottom: 0;
}

.not-found .main-title .subtitle {
	color: #000000;
	padding-bottom: 36px;
	font-size: 26px;
	display: block;
}

.not-found .main-title .descr {
	color: #000000;
	display: block;
}

.wrapper.not-found {
	background-color: #fff;
	background-image: none;
}
